> ## Find drivers for customer churn at Telco. Why are customers churning?
End product of this notebook is an acquire file that can:
> - Import the necessary dataset
> - Download the dataframe to the local device
> - Check if the file exists

Additional explorations: 
- [x] Create function in env.py that deploys a file containing useful functions

In [25]:
# imports
import pandas as pd
import numpy as np
import os
# import env

In [26]:
# Test out new function that creates a default functions file
# env.deploy_acquire()
import acquire as a

# testing out new function
a.print_libs()

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from pydataset import data
import os
import warnings
from sklearn import metrics
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

- [X] Look at tables on MySQL

> The only tables relevant are 'customers', 'contract_types', 'internet_service_types', and 'payment_types'. These tables contain all relevant *and* non-repeating information.

- [ ] Import joined tables from SQL

In [29]:
# Create the query for import
query = """
select distinct *
from customers
left join contract_types
	using(contract_type_id)
left join internet_service_types
	using(internet_service_type_id)
left join payment_types
	using(payment_type_id)
"""

In [30]:
# create access url
url = env.get_db_url('telco_churn')
# url

In [31]:
# Function to load telco dataset
def get_telco_data():
    """
    Function takes no arguments and returns a DataFrame containing the data from telco_churn database.
    
    This function requires an env file to be existent.
    """
    url = env.get_db_url('telco_churn')
    
    query = """
            select *
            from customers
            left join contract_types
                using(contract_type_id)
            left join internet_service_types
                using(internet_service_type_id)
            left join payment_types
                using(payment_type_id)
        """
    
    filename = 'telco.csv'
    
    # Import database
    telco_churn = a.check_file_exists(filename,query,url)
    
    return telco_churn

In [32]:
get_telco_data()

Reading from file...

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.60,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.90,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.90,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.00,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.90,267.4,Yes,Month-to-month,Fiber optic,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,1,2,9987-LUTYD,Female,0,No,No,13,Yes,...,Yes,No,No,No,55.15,742.9,No,One year,DSL,Mailed check
7039,1,2,1,9992-RRAMN,Male,0,Yes,No,22,Yes,...,No,No,Yes,Yes,85.10,1873.7,Yes,Month-to-month,Fiber optic,Electronic check
7040,2,1,1,9992-UJOEL,Male,0,No,No,2,Yes,...,No,No,No,Yes,50.30,92.75,No,Month-to-month,DSL,Mailed check
7041,2,1,3,9993-LHIEB,Male,0,Yes,Yes,67,Yes,...,Yes,No,Yes,No,67.85,4627.65,No,Two year,DSL,Mailed check
7042,1,1,3,9995-HOTOH,Male,0,Yes,Yes,63,No,...,No,Yes,Yes,No,59.00,3707.6,No,Two year,DSL,Electronic check

- [x] Create acquire.py file

In [34]:
# add the above function to the acquire.py file
contents = '''
# Function to load telco dataset
def get_telco_data():
    """
    Function takes no arguments and returns a DataFrame containing the data from telco_churn database.
    
    This function requires an env file to be existent.
    """
    url = env.get_db_url('telco_churn')
    
    query = """
            select *
            from customers
            left join contract_types
                using(contract_type_id)
            left join internet_service_types
                using(internet_service_type_id)
            left join payment_types
                using(payment_type_id)
        """
    
    filename = 'telco.csv'
    
    # Import database
    telco_churn = check_file_exists(filename,query,url)
    
    return telco_churn
'''

In [35]:
print(contents)

# Function to load telco dataset
def get_telco_data():
    """
    Function takes no arguments and returns a DataFrame containing the data from telco_churn database.

    This function requires an env file to be existent.
    """
    url = env.get_db_url('telco_churn')

    query = """
            select *
            from customers
            left join contract_types
                using(contract_type_id)
            left join internet_service_types
                using(internet_service_type_id)
            left join payment_types
                using(payment_type_id)
        """

    filename = 'telco.csv'

    # Import database
    telco_churn = check_file_exists(filename,query,url)

    return telco_churn

In [36]:
with open('acquire.py', 'a') as file:
        file.write(contents + '\n')